/********************
General Style
******************/

.pe-pop {
  position: fixed;
  z-index: 999;
}

/*********************
Full Screen Style
*******************/
body .pe-pop .container .highlight {
  color: #83b9c7;
}

.pe-pop {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
  text-align: center;
  display: none; /* Standardmäßig versteckt - JS zeigt es an */
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  padding: 20px 0;
}

.container {
  background-color: #fff;
  max-width: 980px;
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  /* overflow-y: auto; */
  /* height: 100vh; */
  padding-top: 40px;
  padding-bottom: 100px;
  font-size: 18px;
}

.container .close {
  cursor: pointer;
  display: block;
  top: 0;
  left: 0;
  right: auto;
  font-size: 80px;
  height: 80px;
  width: 80px;
  line-height: 80px;
}

.container .close::before {
  font-size: 80px;
  height: 80px;
  width: 80px;
  line-height: 80px;
  font-weight: 900;
}

.pe-pop .container .headline-2 {
  color: #fff;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
  overflow: visible;
  text-transform: uppercase;
  text-align: left;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding: 50px 0 0 0;
}

.headline-2 .linebreak {
  display: inline-block;
  background-color: #000;
  padding: 5px 8px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  line-height: 1.2;
}

.text {
  text-align: left;
  line-height: 1.2;
}

body .pe-pop .container .text .highlight {
  font-weight: 900;
  color: #000;
}

.how.text {
  /* background-color: #f5f5f5; */
  /* padding: 25px; */

  font-size: 18px;
  font-weight: 400;
}

.btn {
  border-radius: 0;
  font-size: 1em;
  line-height: 1.618;
  cursor: pointer;
  padding: 0.6180469716em 1.41575em;
  text-decoration: none;
  font-weight: 600;
  text-shadow: none;
  display: inline-block;
  -webkit-appearance: none;
  color: #000;
  border: 2px solid #7a7a7a;
  width: max-content;
  margin-top: 15px;
}

.btn:hover {
  opacity: 0.5;
}

.how.text h3 {
  font-size: 22px;
  font-weight: 900;
  color: #83b9c7;
}

.how.text li {
  list-style-type: decimal;
  padding: 5px 20px;
  list-style-position: inside;
  text-indent: -24px;
  max-width: 700px;
}

.yellow {
  background-color: hsl(57, 86%, 63%);
  padding: 40px;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 900;
  font-size: 22px;
}

.yellow .date {
  font-size: 1.2em;
  font-weight: 900;
}

@media screen and (min-width: 708px) {
  .pe-pop {
    font-size: 24px;
    padding: 48px;
  }

  .container {
    padding: 2em;
  }
  .pe-pop .container .headline-2 .linebreak {
    font-size: 36px;
    padding: 5px 8px 0 8px;

    line-height: 1.2;
  }
  .text {
    padding-left: 10px;
    font-weight: 500;
    font-size: 24px;
  }
}

@media screen and (min-width: 981px) {
  .pe-pop {
    height: 100vh;
  }
  .pe-pop .container .headline-2 .linebreak {
    font-size: 50px;
    padding: 5px 12px 0 12px;

    line-height: 1.2;
  }
}

@media screen and (min-width: 1440px) {
  .pe-pop .container .headline-2 {
    font-size: 72px;
    font-weight: 900;
    max-width: 1070px;
  }

  .yellow {
    border-radius: 50%;
    padding: 40px;
    position: absolute;
    rotate: -20deg;
    width: 210px;
    height: 210px;
    right: -40px;
    top: -50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 900;
    font-size: 22px;
  }
}

@media screen and (max-height: 600px) {
  .yellow {
    display: none;
  }
}

/********************
Störer Style
******************/
/* .pe-pop {
  background-color: #000;
  color: #83b9c7;
  font-size: 24px;
  padding: 48px;
  font-weight: 300;
  text-align: center;
  position: fixed;
  right: -350px;
  bottom: -350px;
  transform: rotate(315deg);
  width: 600px;
  height: 600px;
  z-index: 9;
}

.date {
  display: inline;
}

.place {
  font-size: 34px;
  display: block;
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  .pe-pop {
    margin: 0;
    font-size: 18px;
    padding: 12px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    transform: rotate(0);
    text-align: left;
  }

  .place {
    font-size: 20px;
  }
} */
